@media (min-width: 992px) {
  .pa {
    float: left;
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  #p1, #p2 {
    float: left;
    width: 50%;
  }
  #p3 {
   float: left;
   width: 100%;
  }
  }
  }
}

@media (max-width: 767px) {

}
